doc/media/soap-blocking.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://amministrazioneesempio.it/nomeinterfacciaservizio" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="SOAPBlockingImplService" targetNamespace="http://amministrazioneesempio.it/nomeinterfacciaservizio">
	<wsdl:types>
		<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://amministrazioneesempio.it/nomeinterfacciaservizio" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://amministrazioneesempio.it/nomeinterfacciaservizio">
			<xs:element name="M" type="tns:M"/>
			<xs:element name="MResponse" type="tns:MResponse"/>
			<xs:complexType name="M">
				<xs:sequence>
					<xs:element minOccurs="0" name="M" type="tns:mType"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="mType">
				<xs:sequence>
					<xs:element minOccurs="0" name="oId" type="xs:int"/>
					<xs:element minOccurs="0" name="a" type="tns:aComplexType"/>
					<xs:element minOccurs="0" name="b" type="xs:string"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="aComplexType">
				<xs:sequence>
					<xs:element minOccurs="0" name="a1s" type="tns:a1ComplexType"/>
					<xs:element minOccurs="0" name="a2" type="xs:string"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="a1ComplexType">
				<xs:sequence>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="a1" nillable="true" type="xs:string"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="MResponse">
				<xs:sequence>
					<xs:element minOccurs="0" name="return" type="tns:mResponseType"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="mResponseType">
				<xs:sequence>
					<xs:element minOccurs="0" name="c" type="xs:string"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="errorMessageFault">
				<xs:sequence>
					<xs:element minOccurs="0" name="customFaultCode" type="xs:string"/>
				</xs:sequence>
			</xs:complexType>
			<xs:element name="ErrorMessageFault" nillable="true" type="tns:errorMessageFault"/>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="MResponse">
		<wsdl:part element="tns:MResponse" name="parameters"/>
	</wsdl:message>
	<wsdl:message name="ErrorMessageException">
		<wsdl:part element="tns:ErrorMessageFault" name="ErrorMessageException"/>
	</wsdl:message>
	<wsdl:message name="M">
		<wsdl:part element="tns:M" name="parameters"/>
	</wsdl:message>
	<wsdl:portType name="SOAPBlockingImpl">
		<wsdl:operation name="M">
			<wsdl:input message="tns:M" name="M"/>
			<wsdl:output message="tns:MResponse" name="MResponse"/>
			<wsdl:fault message="tns:ErrorMessageException" name="ErrorMessageException"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="SOAPBlockingImplServiceSoapBinding" type="tns:SOAPBlockingImpl">
		<soap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="M">
			<soap12:operation soapAction="" style="document"/>
			<wsdl:input name="M">
				<soap12:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="MResponse">
				<soap12:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="ErrorMessageException">
				<soap12:fault name="ErrorMessageException" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="SOAPBlockingImplService">
		<wsdl:port binding="tns:SOAPBlockingImplServiceSoapBinding" name="SOAPBlockingImplPort">
			<soap12:address location="http://localhost:8080/soap/nomeinterfacciaservizio/v1"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>